<!--<meta http-equiv="refresh" content="15" />-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Narrow Jumbotron Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="jumbotron-narrow.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<% current_forecast = ForecastIo::Datum.currentForecast() %>
<% current_img_name = Greenhouse::ImageDatum.most_recent_image_name() %>
<% current_img_alt_text = Greenhouse::ImageDatum.most_recent_image_alt_text() %>

<div class="container">
  <div class="jumbotron centered">
    <h1>Current Conditions</h1>
    <div><b>Current Time: <%= current_forecast.readable_time_stamp %></b></div>
    <div><a href="<%=current_img_name %>"><img src="<%=current_img_name %>" alt="<%=current_img_alt_text %>" width="80%"></a></div>
    <div>Last Image Taken: <%=current_img_alt_text %></div>
    <p class="lead">
      <div class="fio_temp"><i class="wi wi-forecast-io-<%=current_forecast.forecast_io_icon.icon %> "></i> <%= current_forecast.temperature.round(0) %>°</div>
      <div class="fio_summary"><%= current_forecast.forecast_io_summary.summary %> · Feels like <%= current_forecast.apparent_temperature.round(0) %>°</div>
      <table class="weather_conditions" style align="center">
        <tr><td class="tbl_weather_label">Wind:</td><td class="tbl_weather_value"><%= (current_forecast.wind_speed).round(0) %> mph&nbsp;&nbsp;<i class="wi <%= current_forecast.bearing_icon %>"></i></td></tr>
        <tr><td class="tbl_weather_label">Humidity:</td><td class="tbl_weather_value"><%= (current_forecast.humidity*100).round(0) %>%</td></tr>
        <tr><td class="tbl_weather_label">Dew point:</td><td class="tbl_weather_value"><%= (current_forecast.dew_point).round(0) %></td></tr>
        <tr><td class="tbl_weather_label">Visibility:</td><td class="tbl_weather_value"><%= (current_forecast.visibility).round(0) %> mi</td></tr>
        <tr><td class="tbl_weather_label">Pressure:</td><td class="tbl_weather_value"><%= (current_forecast.pressure).round(0) %> mb</td></tr>
      </table>
    </p>
    <h4>Greenhouse Sensors</h4>
    <table class="weather_conditions" style align="center">
      <tr>
        <th>Sensor</th>
        <th>Temperature</th>
        <th>Humidity</th>
      </tr>
      <% @current_gh_data.greenhouse_sensor_data.each do |sensor_reading| %>
          <tr>
            <td><%= sensor_reading.which_sensor_as_string %></td>
            <td><%= sensor_reading.temperature_as_fahrenheit_string %>°F</td>
            <td><%= sensor_reading.humidity.round(2).to_s %>%</td>
          </tr>
      <% end %>
    </table>
    <div class="gh_timestamp"><%= @current_gh_data.readable_time_stamp %></div>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Temperature Data for the last 24 hours</h4>
      <div class="temp_chart" style align="center"><%= line_chart @_controller.stacked_hourly_average_temps_last_24_hours , width: "400px", height: "250px", min: nil, max: nil, xtitle: "Hour", ytitle: "Temp °F" %></div>
    </div>
  </div>
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Humidity Data for the last 24 hours</h4>
      <div class="temp_chart" style align="center"><%= line_chart @_controller.stacked_hourly_average_humids_last_24_hours , width: "400px", height: "250px", min: nil, max: nil, xtitle: "Hour", ytitle: "Humidity %" %></div>
    </div>
  </div>
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>CPU Temperature to Internal Temperature for the last 24 hours</h4>
      <div class="temp_chart" style align="center"><%= line_chart @_controller.stacked_hourly_soc_temp_last_24_hours , width: "400px", height: "250px", min: nil, max: nil, xtitle: "Hour", ytitle: "Temp °F" %></div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2016 David Trotz Jr.</p>
  </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
